<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博拉网络</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jquery-1.12.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-hover-dropdown.min.js"></script>
    <script src="js/my.js" type="text/javascript" charset="utf-8"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/my.css"/>
</head>
<body id="scroll-1">
<nav class="navbar navbar-default navbar-fixed-top mynav mynavred" role="navigation">
    <div class="container-fluid w1200">
		<div class="navbar-header">
			<button id="iNav" type="button" class="navbar-toggle">
				<span class="sr-only">切换导航</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html"><img src="picture/logo-white.png" alt=""></a>
		</div>
		<div class="i-nav" id="example-navbar-collapse"></div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="index.html">首页</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" href="info.html" data-toggle="dropdown" data-hover="dropdown">关于博拉</a>
					<ul class="dropdown-menu">
						<li><a href="info.html">公司介绍</a></li>
						<li><a href="milestones.html">发展历程</a></li>
						<li><a href="honor.html">博拉荣誉</a></li>
						<li><a href="team.html">团队文化</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" href="platform.html" data-toggle="dropdown" data-hover="dropdown">业务体系</a>
					<ul class="dropdown-menu">
						<li><a href="platform.html">服务内容</a></li>
						<li><a href="customer.html">服务品牌</a></li>
						<li><a href="case.html">成功案例</a></li>
					</ul>
				</li>
				<li><a href="news.html">博拉动态</a></li>
				<li><a href="join.html">加入博拉</a></li>
				<li><a href="contact.html">联系我们</a></li>
			</ul>
			<img class="nav_bot_img1" src="picture/nav_bot_img1.png" alt="">
		</div>
    </div>
</nav>
<div class="container_top">
	<div class="w1200" style="padding: 0 15px;">
		<div class="about_top customer_top">
			<h4>博拉<sup style="font-size: 16px;">®</sup>已服务超过</h4>
			<h4>300家国际国内知名品牌</h4>
		</div>
		<img src="picture/itree.png" style="width: 100%; margin-top: 30px;" alt="">
		<div class="customerbox">
			<p>汽车行业客户</p>
			<img src="picture/about_a1.png" alt="">
			<img src="picture/about_a2.png" alt="">
			<img src="picture/about_a3.png" alt="">
			<img src="picture/about_a4.png" alt="">
			<img src="picture/about_a5.png" alt="">
			<img src="picture/about_a6.png" alt="">
			<img src="picture/about_a7.png" alt="">
			<img src="picture/about_a8.png" alt="">
			<img src="picture/about_a9.png" alt="">
			<img src="picture/about_a10.png" alt="">
			<img src="picture/about_a11.png" alt="">
			<img src="picture/about_a12.png" alt="">
			<img src="picture/about_a13.png" alt="">
			<img src="picture/about_a14.png" alt="">
			<img src="picture/about_a15.png" alt="">
			<img src="picture/about_a16.png" alt="">
			<img src="picture/about_a17.png" alt="">
			<img src="picture/about_a18.png" alt="">
			<img src="picture/about_a19.png" alt="">
			<img src="picture/about_a20.png" alt="">
			<img src="picture/about_a21.png" alt="">
			<img src="picture/about_a22.png" alt="">
			<img src="picture/about_a23.png" alt="">
			<img src="picture/about_a24.png" alt="">
			<img src="picture/about_a25.png" alt="">
		</div>
		<div class="customerbox">
			<p>信息家电行业客户</p>
			<img src="picture/about_b1.png" alt="">
			<img src="picture/about_b2.png" alt="">
			<img src="picture/about_b3.png" alt="">
			<img src="picture/about_b4.png" alt="">
			<img src="picture/about_b5.png" alt="">
			<img src="picture/about_b6.png" alt="">
			<img src="picture/about_b7.png" alt="">
			<img src="picture/about_b8.png" alt="">
			<img src="picture/about_b9.png" alt="">
			<img src="picture/about_b10.png" alt="">
			<img src="picture/about_b11.png" alt="">
			<img src="picture/about_b12.png" alt="">
			<img src="picture/about_b13.png" alt="">
			<img src="picture/about_b14.png" alt="">
			<img src="picture/about_b15.png" alt="">
			<img src="picture/about_b16.png" alt="">
			<img src="picture/about_b17.png" alt="">
			<img src="picture/about_b18.png" alt="">
			<img src="picture/about_b19.png" alt="">
			<img src="picture/about_b20.png" alt="">
			<img src="picture/about_b21.png" alt="">
			<img src="picture/about_b22.png" alt="">
			<img src="picture/about_b23.png" alt="">
			<img src="picture/about_b24.png" alt="">
		</div>
		<div class="customerbox">
			<p>食品快消行业客户</p>
			<img src="picture/about_c1.png" alt="">
			<img src="picture/about_c2.png" alt="">
			<img src="picture/about_c3.png" alt="">
			<img src="picture/about_c4.png" alt="">
			<img src="picture/about_c5.png" alt="">
			<img src="picture/about_c6.png" alt="">
			<img src="picture/about_c7.png" alt="">
			<img src="picture/about_c8.png" alt="">
			<img src="picture/about_c9.png" alt="">
			<img src="picture/about_c10.png" alt="">
			<img src="picture/about_c11.png" alt="">
			<img src="picture/about_c12.png" alt="">
			<img src="picture/about_c13.png" alt="">
			<img src="picture/about_c14.png" alt="">
			<img src="picture/about_c15.png" alt="">
			<img src="picture/about_c16.png" alt="">
			<img src="picture/about_c17.png" alt="">
			<img src="picture/about_c18.png" alt="">
			<img src="picture/about_c19.png" alt="">
			<img src="picture/about_c20.png" alt="">
			<img src="picture/about_c21.png" alt="">
			<img src="picture/about_c22.png" alt="">
			<img src="picture/about_c23.png" alt="">
			<img src="picture/about_c24.png" alt="">
			<img src="picture/about_c25.png" alt="">
			<img src="picture/about_c26.png" alt="">
			<img src="picture/about_c27.png" alt="">
			<img src="picture/about_c28.png" alt="">
			<img src="picture/about_c29.png" alt="">
			<img src="picture/about_c30.png" alt="">
			<img src="picture/about_c31.png" alt="">
			<img src="picture/about_c32.png" alt="">
			<img src="picture/about_c33.png" alt="">
			<img src="picture/about_c34.png" alt="">
			<img src="picture/about_c35.png" alt="">
		</div>
		<div class="customerbox">
			<p>日用快消行业客户</p>
			<img src="picture/about_d1.png" alt="">
			<img src="picture/about_d2.png" alt="">
			<img src="picture/about_d3.png" alt="">
			<img src="picture/about_d4.png" alt="">
			<img src="picture/about_d5.png" alt="">
			<img src="picture/about_d6.png" alt="">
			<img src="picture/about_d7.png" alt="">
			<img src="picture/about_d8.png" alt="">
			<img src="picture/about_d9.png" alt="">
			<img src="picture/about_d10.png" alt="">
			<img src="picture/about_d11.png" alt="">
			<img src="picture/about_d12.png" alt="">
			<img src="picture/about_d13.png" alt="">
			<img src="picture/about_d14.png" alt="">
			<img src="picture/about_d15.png" alt="">
			<img src="picture/about_d16.png" alt="">
			<img src="picture/about_d17.png" alt="">
			<img src="picture/about_d18.png" alt="">
			<img src="picture/about_d19.png" alt="">
			<img src="picture/about_d20.png" alt="">
			<img src="picture/about_d21.png" alt="">
			<img src="picture/about_d22.png" alt="">
			<img src="picture/about_d23.png" alt="">
			<img src="picture/about_d24.png" alt="">
		</div>
		<div class="customerbox">
			<p>金融地产行业客户</p>
			<img src="picture/about_e1.png" alt="">
			<img src="picture/about_e2.png" alt="">
			<img src="picture/about_e3.png" alt="">
			<img src="picture/about_e4.png" alt="">
			<img src="picture/about_e5.png" alt="">
			<img src="picture/about_e6.png" alt="">
			<img src="picture/about_e7.png" alt="">
			<img src="picture/about_e8.png" alt="">
			<img src="picture/about_e9.png" alt="">
			<img src="picture/about_e10.png" alt="">
			<img src="picture/about_e11.png" alt="">
			<img src="picture/about_e12.png" alt="">
			<img src="picture/about_e13.png" alt="">
			<img src="picture/about_e14.png" alt="">
			<img src="picture/about_e15.png" alt="">
			<img src="picture/about_e16.png" alt="">
			<img src="picture/about_e17.png" alt="">
			<img src="picture/about_e18.png" alt="">
			<img src="picture/about_e19.png" alt="">
			<img src="picture/about_e20.png" alt="">
			<img src="picture/about_e21.png" alt="">
			<img src="picture/about_e22.png" alt="">
			<img src="picture/about_e23.png" alt="">
			<img src="picture/about_e24.png" alt="">
			<img src="picture/about_e25.png" alt="">
			<img src="picture/about_e26.png" alt="">
			<img src="picture/about_e27.png" alt="">
			<img src="picture/about_e28.png" alt="">
			<img src="picture/about_e29.png" alt="">
			<img src="picture/about_e30.png" alt="">
		</div>
		<div class="customerbox">
			<p>互联网行业客户</p>
			<img src="picture/about_f1.png" alt="">
			<img src="picture/about_f2.png" alt="">
			<img src="picture/about_f3.png" alt="">
			<img src="picture/about_f4.png" alt="">
			<img src="picture/about_f5.png" alt="">
			<img src="picture/about_f6.png" alt="">
			<img src="picture/about_f7.png" alt="">
			<img src="picture/about_f8.png" alt="">
			<img src="picture/about_f9.png" alt="">
			<img src="picture/about_f10.png" alt="">
			<img src="picture/about_f11.png" alt="">
			<img src="picture/about_f12.png" alt="">
			<img src="picture/about_f13.png" alt="">
			<img src="picture/about_f14.png" alt="">
			<img src="picture/about_f15.png" alt="">
			<img src="picture/about_f16.png" alt="">
			<img src="picture/about_f17.png" alt="">
			<img src="picture/about_f18.png" alt="">
			<img src="picture/about_f19.png" alt="">
			<img src="picture/about_f20.png" alt="">
		</div>
		<div class="customerbox">
			<p>旅游娱乐行业客户</p>
			<img src="picture/about_g1.png" alt="">
			<img src="picture/about_g2.png" alt="">
			<img src="picture/about_g3.png" alt="">
			<img src="picture/about_g4.png" alt="">
			<img src="picture/about_g5.png" alt="">
			<img src="picture/about_g6.png" alt="">
			<img src="picture/about_g7.png" alt="">
			<img src="picture/about_g8.png" alt="">
			<img src="picture/about_g9.png" alt="">
			<img src="picture/about_g10.png" alt="">
			<img src="picture/about_g11.png" alt="">
			<img src="picture/about_g12.png" alt="">
			<img src="picture/about_g13.png" alt="">
			<img src="picture/about_g14.png" alt="">
			<img src="picture/about_g15.png" alt="">
		</div>
		<div class="customerbox">
			<p>健康医药行业客户</p>
			<img src="picture/about_h1.png" alt="">
			<img src="picture/about_h2.png" alt="">
			<img src="picture/about_h3.png" alt="">
			<img src="picture/about_h4.png" alt="">
			<img src="picture/about_h5.png" alt="">
			<img src="picture/about_h6.png" alt="">
			<img src="picture/about_h7.png" alt="">
			<img src="picture/about_h8.png" alt="">
			<img src="picture/about_h9.png" alt="">
			<img src="picture/about_h10.png" alt="">
		</div>
		<div class="customerbox last">
			<p>其他行业客户</p>
			<img src="picture/about_i1.png" alt="">
			<img src="picture/about_i2.png" alt="">
			<img src="picture/about_i3.png" alt="">
			<img src="picture/about_i4.png" alt="">
			<img src="picture/about_i5.png" alt="">
			<img src="picture/about_i6.png" alt="">
			<img src="picture/about_i7.png" alt="">
			<img src="picture/about_i8.png" alt="">
			<img src="picture/about_i9.png" alt="">
			<img src="picture/about_i10.png" alt="">
			<img src="picture/about_i11.png" alt="">
			<img src="picture/about_i12.png" alt="">
			<img src="picture/about_i13.png" alt="">
			<img src="picture/about_i14.png" alt="">
		</div>
		<div class="foot">
			<p>COPYRIGHT&copy;2006-2017 BOLAA.COM </p>
		</div>
	</div>
</div>
<img src="picture/top.png" class="gotop" id="gotop">
</body>
<script>

</script>
</html>