<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博拉网络</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jquery-1.12.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-hover-dropdown.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/my.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/my.css"/>
</head>
<body id="scroll-1">
<nav class="navbar navbar-default navbar-fixed-top mynav mynavred" role="navigation">
    <div class="container-fluid w1200">
		<div class="navbar-header">
			<button id="iNav" type="button" class="navbar-toggle">
				<span class="sr-only">切换导航</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html"><img src="picture/logo-white.png" alt=""></a>
		</div>
		<div class="i-nav" id="example-navbar-collapse"></div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="index.html">首页</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" href="info.html" data-toggle="dropdown" data-hover="dropdown">关于博拉</a>
					<ul class="dropdown-menu">
						<li><a href="info.html">公司介绍</a></li>
						<li><a href="milestones.html">发展历程</a></li>
						<li><a href="honor.html">博拉荣誉</a></li>
						<li><a href="team.html">团队文化</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" href="platform.html" data-toggle="dropdown" data-hover="dropdown">业务体系</a>
					<ul class="dropdown-menu">
						<li><a href="platform.html">服务内容</a></li>
						<li><a href="customer.html">服务品牌</a></li>
						<li><a href="case.html">成功案例</a></li>
					</ul>
				</li>
				<li><a href="news.html">博拉动态</a></li>
				<li><a href="join.html">加入博拉</a></li>
				<li><a href="contact.html">联系我们</a></li>
			</ul>
            <img class="nav_bot_img1" src="picture/nav_bot_img1.png" alt="">
		</div>
    </div>
</nav>
<div class="container_top">
    <div class="w1200" style="padding: 0 15px;">
        <div class="about_top">
            <p class="margin_bot20">博聚智慧&nbsp;&nbsp;&nbsp;&nbsp;拉手未来</p>
            <p class="i_margin_bot20">博聚智慧&nbsp;&nbsp;拉手未来</p>
            <p style="font-size: 24px;margin: 0;">博拉<sup style="font-size: 16px;">®</sup>领先的互联网+</p>
            <p style="font-size: 24px;">全程解决方案提供商</p>
        </div>
        <div class="about" style="padding-top: 10px;">
            <div class="banner clearfix" style="width: 100%; height: auto;">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="width: 100%"><img style="width: 49%;" src="picture/who_img1.png" id="swiper_img1" alt=""><img style="width: 49%;" src="picture/who_img2.png" alt=""></div>
                        <div class="swiper-slide" style="width: 100%"><img style="width: 49%;" src="picture/who_img3.png" alt=""><img style="width: 49%;" src="picture/who_img4.png" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="about_box" style="padding-top: 0;">
                <div class="wenz">
                    <p>博拉网络（BOLAA）始创于2006年，公司定位为 “互联网+”全程解决方案提供商，即通过互联网技术和服务，帮助企业规划和构建基于互联网的在线生意模式和商业形态，助推企业实现与互联网的接轨和转型。公司基于自主研发的E2C(E Service To Company)数字商业大数据云服务平台，向企业用户提供包括数字营销（<em style="font-size: 13px;font-style: normal;">E-Marketing</em>）、电商服务（E-Commerce）、电子会员管理(E-Club)、数字媒体（E-Media）、数字培训（E-Training）和数字技术开发（E-Tech）等在内的全程“互联网+”服务。</p>
                    <p>秉承“简单专注、不断进化”的企业精神和“帮助企业用好互联网”的企业使命，公司已服务超过300家的国际国内知名企业，业务涵盖汽车、快消、金融、房产、旅游、3C等主流行业，为客户创造了巨大的商业价值，奠定了公司在国内数字商业服务领域的领先地位。</p>
                    <p>博拉网络在北京、上海、广州、成都、杭州、昆明、海口等十多个主要城市设立了服务中心及分支机构，在重庆两江新区建设了互联网数字技术研发中心，员工规模近500人。凭借出色的服务实力和众多的成功案例，公司先后获得了高新技术企业、国家商务部电子商务示范企业、4A会员企业、重庆市战略新兴产业重点项目、互联网+试点单位、云计算服务试点企业、电子商务协会常务理事单位、上海市数字营销委员会副主任单位、上海市信息服务业行业协会理事单位、中国互联网协会最佳数字营销企业、大数据应用解决方案提供商TOP100、中国互联网+行业最佳解决方案奖项等诸多资质荣誉。</p>
                </div>

            </div>
            <div class="about_box">
                <p class="font24">E2C数字商业平台</p>
                <p>整合数字营销+专业电商服务+电子会员服务+数字媒体+数字技术+数字培训</p>
				<div class="col-md-12 col-xs-12">
					<img src="picture/mile_img3.png" alt="" style="width: 100%;">
				</div>
                <!--<p style="font-size: 16px;">“企业互联网转型升级的加速器”</p>-->
                <div class="wenz">
                    <p>以“互联网整合解决方案+互联网技术实现+互联网产品开发和运营”全程服务模式帮助企业构建互联网生意模式。从市场定位、产品研发，生产销售、客户服务乃至整个价值链和商业生态，以互联网思维进行全面重构。</p>
                </div>
            </div>
            <div class="about_box">
                <p class="font24">双核优势</p>
                <p>“产品技术+商业运营”</p>
                <div class="adv clearfix">
                    <ul>
                        <li class="col-md-3 col-xs-6"><img style="width: 100%;" src="picture/mile_img4.png" alt=""></li>
                        <li class="col-md-3 col-xs-6"><img style="width: 100%;" src="picture/mile_img5.png" alt=""></li>
                        <li class="col-md-3 col-xs-6"><img style="width: 100%;" src="picture/mile_img6.png" alt=""></li>
                        <li class="col-md-3 col-xs-6"><img style="width: 100%;" src="picture/mile_img7.png" alt=""></li>
                    </ul>
                </div>
                <div class="wenz">
                    <p>公司管理核心系国内知名网站奇虎网原始创业团队，拥有深厚的互联网产品技术底蕴和互联网思维，在公司的业务发展过程中敏锐地发掘了企业对互联网技术的应用需求，从整合数字营销，电子商务和电子会员管理三大服务板块切入市场，在业界首创并自主研发了博拉E2C数字商业平台（涵盖前述三大板块的超过60款的技术系统和软件产品），完成了E2C业务体系的战略整合，具备了为企业级客户构建互联网生意模式的全过程服务能力，并在应用中逐步成熟。先进的互联网技术产品体系+创新的互联网营销理念，打造了博拉网络的双核基因优势，这种市场竞争优势推动公司迅速抢占和扩大了市场份额，奠定了在业界内的行业地位和品牌影响力。</p>
                </div>

            </div>
            <div class="about_box last">
                <p class="font24">奖项及肯定</p>
                <p>多年来在各类专业性奖项评比中不断斩获大奖</p>
                <div class="honour">
                    <ul class="clearfix">
                        <li class="col-md-3 col-xs-3"><i><img src="picture/about_h1.png" alt=""></i><i><img src="picture/about_h2.png" alt=""></i></li>
                        <li class="col-md-3 col-xs-3"><i><img src="picture/about_h3.png" alt=""></i><i><img src="picture/about_h5.png" alt=""></i></li>
                        <li class="col-md-3 col-xs-3"><i><img src="picture/about_h8.png" alt=""></i><i><img src="picture/about_h4.png" alt=""></i></li>
                        <li class="col-md-3 col-xs-3"><i><img src="picture/about_h7.png" alt=""></i><i><img src="picture/about_h6.png" alt=""></i></li>
                    </ul>
                </div>
                <div class="honour_cont clearfix">
                    <div class="box left">
                        <ul>
                            <li>中国互联网协会–最佳互联网数字营销企业奖</li>
                            <li>中国互联网+行业最佳解决方案奖</li>
                            <li>大数据应用解决方案提供商TOP100</li>
                            <li>成功营销杂志–最佳内容营销公司奖</li>
                            <li>华尊奖–数字营销服务客户满意第一品牌</li>

                        </ul>
                    </div>
                    <div class="box left">
                        <ul>
                            <li>数字营销金鼠标奖</li>
                            <li>社交网络营销金蜜蜂奖</li>
                            <li>中国经典传播虎啸大奖</li>
                            <li>金投赏创意奖</li>
                            <li>德勤中国重庆高科技高成长20强</li>

                        </ul>
                    </div>
                    <div class="box left">
                        <ul>
                            <li>TMA移动营销大奖</li>
                            <li>中国广告主金远奖</li>
                            <li>最佳数字营销创新奖</li>
                            <li>游鼎奖-最具影响力营销企业</li>
                            <li>上海市公共关系协会优秀传播奖</li>

                        </ul>
                    </div>
                </div>
            </div>


        </div>
        <div class="foot" style="border: none;">
            <p>COPYRIGHT&copy;2006-2017 BOLAA.COM </p>
        </div>
    </div>
</div>
<img src="picture/top.png" class="gotop" id="gotop">
</body>

<script>
    document.getElementById("swiper_img1").onload=function(){
        $(".swiper-container").height($(".swiper-slide img").height());
    };
    $(function () {
        var mySwiper = new Swiper ('.swiper-container', {
            mousewheelControl : true,
            mousewheelForceToAxis : true,
            speed:500,
            autoplay: 5000,
            autoplayDisableOnInteraction : false,
            effect : 'fade',
            pagination: '.swiper-pagination',
            paginationClickable :true,
            onInit: function (swiper) {
                $(".swiper-container").height($(".swiper-slide img").height());
            }
        });
    })
</script>
</html>