<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博拉网络</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jquery-1.12.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-hover-dropdown.min.js"></script>
    <script src="js/masonry-docs.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/my.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/job.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="css/animate.min.css">-->
    <link rel="stylesheet" type="text/css" href="css/my.css"/>
</head>
<body id="scroll-1">
<nav class="navbar navbar-default navbar-fixed-top mynav mynavred" role="navigation">
    <div class="container-fluid w1200">
		<div class="navbar-header">
			<button id="iNav" type="button" class="navbar-toggle">
				<span class="sr-only">切换导航</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html"><img src="picture/logo-white.png" alt=""></a>
		</div>
		<div class="i-nav" id="example-navbar-collapse"></div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="index.html">首页</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" href="info.html" data-toggle="dropdown" data-hover="dropdown">关于博拉</a>
					<ul class="dropdown-menu">
						<li><a href="info.html">公司介绍</a></li>
						<li><a href="milestones.html">发展历程</a></li>
						<li><a href="honor.html">博拉荣誉</a></li>
						<li><a href="team.html">团队文化</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" href="platform.html" data-toggle="dropdown" data-hover="dropdown">业务体系</a>
					<ul class="dropdown-menu">
						<li><a href="platform.html">服务内容</a></li>
						<li><a href="customer.html">服务品牌</a></li>
						<li><a href="case.html">成功案例</a></li>
					</ul>
				</li>
				<li><a href="news.html">博拉动态</a></li>
				<li><a href="join.html">加入博拉</a></li>
				<li><a href="contact.html">联系我们</a></li>
			</ul>
            <img class="nav_bot_img1" src="picture/nav_bot_img1.png" alt="">
		</div>
    </div>
</nav>
<div class="container_top">
    <div class="cont w1200" style="padding: 0 15px;">
        <div class="cont_top" style="font-size: 14px;">
            <p style="font-size: 24px;margin-bottom: 20px;">博拉<sup style="font-size: 16px;">&reg;</sup>以奋斗者为核心</p>
            <p>在博拉工作，你将接触到这里特有的追求卓越、崇尚创造的公司氛围，获得专业培训、团队协作和个人发展的机会。</p>
            <p>应聘者请发送个人简历至：hr@bolaa.com，邮件名称格式为：应聘+职位名称+工作地点。</p>
        </div>
        <div class="banner clearfix" style="width: 100%; height: auto;">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!--<div class="swiper-slide"><img src="picture/join_img1.png" id="swiper_img1" alt=""><img src="picture/join_img2.png" alt=""></div>-->
                    <div class="swiper-slide" style="width: 100%"><img style="width: 49%;" id="swiper_img1" src="picture/join_img3.png" alt=""><img style="width: 48%;" src="picture/join_img4.png" alt=""></div>
                    <div class="swiper-slide" style="width: 100%"><img style="width: 49%;" src="picture/join_img5.png" alt=""><img style="width: 48%;" src="picture/join_img6.png" alt=""></div>
                </div>
            </div>
        </div>

        <div id="masonry" class="container-fluid join clearfix" style="width: 100%;padding: 0;">
            <div class="grid-sizer" style="width: 10%"></div>
            <!--<div class="join_cont left">-->
            <!--<h2>媒介经理</h2>-->
            <!--<div class="some"><span class="time">2017-03-08</span> &nbsp;| &nbsp;<span class="location">北京</span><span> | BOLAA</span></div>-->
            <!--<div class="join_box">-->
            <!--<h3>工作职责</h3>-->
            <!--<p>1.制定公司项目的媒体策略；<br>2.负责项目的媒体资源拓展，融洽媒体关系；<br>3.对重大项目提供媒介执行的支持。</p>-->
            <!--<h3>职位要求</h3>-->
            <!--<p>1.本科以上学历，三年以上公关公司或新媒体从业经历，具有广泛的媒体资源；<br>-->
            <!--2.有较强的理论基础和新媒体运作经验，善于整合内外资源，有过成功案例；<br>-->
            <!--3.对行业及媒体有深入的了解，熟悉国内媒体的操作方式；<br>-->
            <!--4.具备一定的领导能力，较强的理解沟通能力和敬业精神；<br>-->
            <!--5.性格开朗、工作踏实、有进取心，能适应较强的工作压力；<br>-->
            <!--6.具有IT,家电，快消相关新媒介经验者优先。-->
            <!--</p>-->
            <!--<a href="##">投递简历</a>-->
            <!--</div>-->
            <!--</div>-->
        </div>
<!--
        <div class="more" id="more">
            加载更多
        </div>
-->
        <div class="foot" style="display: none">
            <p>COPYRIGHT&copy;2006-2017 BOLAA.COM </p>
        </div>
    </div>
</div>
<img src="picture/top.png" class="gotop" id="gotop">
</body>
<script>
    document.getElementById("swiper_img1").onload=function(){
        $(".swiper-container").height($(".swiper-slide img").height());
    };
    $(function () {
        var mySwiper = new Swiper ('.swiper-container', {
            mousewheelControl : true,
            mousewheelForceToAxis : true,
            speed:500,
            autoplay: 5000,
            autoplayDisableOnInteraction : false,
            effect : 'fade',
            pagination: '.swiper-pagination',
            paginationClickable :true,
            onInit: function (swiper) {
                $(".swiper-container").height($(".swiper-slide img").height());
            }
        });
        var $container = $('#masonry');
        var data=job, page = 1, pageSize = 10, startPage = 0, endPage = 0, html = '';
        add_data(data);
        var length=data.length;
        function add_data(data) {
            endPage = endPage? page * pageSize : pageSize;
            endPage=endPage>length?length:endPage;
            html = '';
            for(var i=0;i<data.length;i++){
                var ask = data[i].ask ? data[i].ask : '';
                var duty = data[i].duty ? data[i].duty : '';
                html +=  '<div class="join_cont left"><h2>'+data[i].title+
                    '</h2><div class="some"><span class="time">'+data[i].time+'</span> &nbsp;| &nbsp;<span class="location">'+data[i].note+
                    '</span><span> | BOLAA</span></div><div class="join_box">'+data[i].wenz+'<a href="mailto:hr@bolaa.com">投递简历</a></div></div>';
            }

            var $elems = $(html);
			if($(window).width() < 1000){
				console.log('asdsadsa');
				$container.masonry({
					columnWidth: document.querySelector('.grid-sizer'),
					itemSelector: '.join_cont',
					transitionDuration:0,
					gutter: 75,
					async:false,
					isAnimated: true,
					isResizable: true,
					isFitWidth: false,
				});
			}else{
				$container.masonry({
					columnWidth: document.querySelector('.grid-sizer'),
					itemSelector: '.join_cont',
					transitionDuration:0,
					gutter: 75,
					async:false,
					isAnimated: true,
					isResizable: true,
					isFitWidth: false,
				});
			}
            
            $container.append($elems);
            $container.masonry( 'appended', $elems);
        }

//        $("#more").click(function () {
//            page++;
//            startPage = (page-1) * pageSize;
//            add_data(data);
//            $container.masonry('reloadItems');
//            if(endPage-(page)*pageSize<0){
//                $("#more").css("display","none");
//            }
//            if($("#more").css('display')=='none'){
//                $(".foot").css("display","block");
//            }
//        });

    })
</script>
</html>