@extends('home.public.head')
@section('content')

<div class="container_top">
    <div class="w1065" style="padding: 0 15px;">
        <div class="about_top">
            <p class="margin_bot20"> 简单专注&nbsp;&nbsp;&nbsp;&nbsp;不断进化</p>
            <p class="i_margin_bot20"> 简单专注&nbsp;&nbsp;不断进化</p>
            <p class="font24">踏踏实实地为客户做好服务，</p>
            <p class="font24">就会赢得我们的成功，</p>
            <p class="font24">持久地坚持，成长中创新！</p>
        </div>
        <div class="about">
            <div class="history">
                <img class="historyimg" src="picture/histoty_img51.png" alt="">
<!--
                <div class="box_left box1">
                    <span>1月</span>
                    <p>博拉“互联网+”全面升级E2C战略<br>
                        体系，致力成为传统企业互联网<br>
                        转型升级加速器</p>
                </div>
                <div class="box_left box2">
                    <span>3月</span>
                    <p>博拉近日正式签约腾讯，成为<br>
                        腾讯地方站的战略合作伙伴</p>
                </div>
                <div class="box_left box3">
                    <span>6月</span>
                    <p>博拉网络获批商务部2015-2016年度<br>电子商务示范企业</p>
                </div>
                <div class="box_left box4">
                    <span>11月</span>
                    <p>博拉网络股份有限公司正式在<br>
                        新三板挂牌（证券简称：博拉网络，
                        代码：834484）</p>
                </div>
                <div class="box_left box5">
                    <span>3月</span>
                    <p>实施“博拉城市分众”计划，
                        博拉<br>营销服务网络向海口、杭州<br>
                       等更多中心城市全面扩展</p>
                </div>
                <div class="box_left box6">
                    <span>9月</span>
                    <p>O2O微电商平台正式上线。荣获<br>
                        金投赏奖和中国互联网协会<br>
                        最佳数字营销企业奖</p>
                </div>
                <div class="box_left box7">
                    <span>2月</span>
                    <p>博拉电商子公司成立，开展<br>
                        电子商务营销和代运营服务</p>
                </div>
                <div class="box_left box8">
                    <span>6月</span>
                    <p>数字营销业务全面扩张，博拉为<br>
                        超过150个知名品牌提供专业的<br>
                        数字营销和电商服务</p>
                </div>
                <div class="box_left box9">
                    <span>9月</span>
                    <p>博拉成为国内领先的数字营销和<br>
                        电商服务提供商，成为品牌企业<br>
                        上网推产品、卖产品优先选择</p>
                </div>
                <div class="box_left box10">
                    <span>2月</span>
                    <p>电子商务战略平台项目上线，实现<br>
                        电子商务营销项目盈利</p>
                </div>
                <div class="box_left box11">
                    <span>6月</span>
                    <p>整合数字营销产品线，全面<br>
                        开展数字营销业务</p>
                </div>
                <div class="box_left box12">
                    <span>2月</span>
                    <p>博拉成为全球领先的跨平台<br>
                        博客直销网络</p>
                </div>
                <div class="box_left box13">
                    <span>9月</span>
                    <p>博拉精准广告系统和大型<br>
                        社区电子商务系统上线</p>
                </div>
                <div class="box_right box1">
                    <span>12月</span>
                    <p>荣获互联网+行业最佳解决方案奖<br>
                        和大数据应用解决方案提供商百强</p>
                </div>
                <div class="box_right box2">
                    <span>1月</span>
                    <p>博拉网络成为4A会员企业</p>
                </div>
                <div class="box_right box3">
                    <span>8月</span>
                    <p>西南证券入资</p>
                </div>
                <div class="box_right box4">
                    <span>1月</span>
                    <p>移动网络系统平台上线，正式<br>
                        进入移动营销领域</p>
                </div>
                <div class="box_right box5">
                    <span>2月</span>
                    <p>E-club产品上线，完成<br>
                        E2C业务体系的战略整合</p>
                </div>
                <div class="box_right box6">
                    <span>1月</span>
                    <p>实现数字营销业务销售翻三倍，服务<br>
                        过三关的增长目标</p>
                </div>
                <div class="box_right box7">
                    <span>10月</span>
                    <p>数字营销技术平台建成，通过国家<br>
                        级高新技术企业认证。荣获中国互<br>
                        联网协会颁发的2010年金网奖</p>
                </div>
                <div class="box_right box8">
                    <span>8月</span>
                    <p>进化商业模式，全面实施“数字<br>
                        营销战略”，公司获得双软认证</p>
                </div>
                <div class="box_right box9">
                    <span>12月</span>
                    <p>完成9个客户中心的建成，业务<br>
                        网络覆盖全国</p>
                </div>
                <div class="box_right box10">
                    <span>3月</span>
                    <p>博拉网正式上线，年内位列<br>
                        世界网站排名前200强</p>
                </div>
-->



            </div>
        </div>
        <div class="foot" style="border: none;">
            <p>COPYRIGHT&copy;2006-2017 BOLAA.COM </p>
        </div>
    </div>

</div>
<img src="picture/top.png" class="gotop" id="gotop"/>
</body>
    @include("home.public.footerjs")

</html>
@endsection