<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博拉动态</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jquery-1.12.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-hover-dropdown.min.js"></script>
    <script src="js/my.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/news.js" type="text/javascript" charset="utf-8"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/my.css"/>
</head>
<body id="scroll-1">
<nav class="navbar navbar-default navbar-fixed-top mynav mynavred" role="navigation">
	<div class="container-fluid w1200">
		<div class="navbar-header">
			<button id="iNav" type="button" class="navbar-toggle">
				<span class="sr-only">切换导航</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="../index.html"><img src="picture/logo-white.png" alt=""></a>
		</div>
		<div class="i-nav" id="example-navbar-collapse"></div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="../index.html">首页</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" href="../info.html" data-toggle="dropdown" data-hover="dropdown">关于博拉</a>
					<ul class="dropdown-menu">
						<li><a href="../info.html">公司介绍</a></li>
						<li><a href="../milestones.html">发展历程</a></li>
						<li><a href="../honor.html">博拉荣誉</a></li>
						<li><a href="../team.html">团队文化</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" href="../platform.html" data-toggle="dropdown" data-hover="dropdown">业务体系</a>
					<ul class="dropdown-menu">
						<li><a href="../platform.html">服务内容</a></li>
						<li><a href="../customer.html">服务品牌</a></li>
						<li><a href="../case.html">成功案例</a></li>
					</ul>
				</li>
				<li><a href="../news.html">博拉动态</a></li>
				<li><a href="../join.html">加入博拉</a></li>
				<li><a href="../contact.html">联系我们</a></li>
			</ul>
			<img class="nav_bot_img1" src="picture/nav_bot_img1.png" alt="">
		</div>
	</div>
</nav>
<div class="container_top">
    <div class="cont w1065 news_more">
        <div class="new_detail clearfix">
            <div class="w650 left">
                <h2>博拉网络荣获第七届财经协会（行业）影响力品牌奖</h2><p>2018-07-25<span> | BOLAA</span></p>
                <div class="wenz"><p style="text-align:left;">
	7月20日结束的第七届财经峰会上，作为受邀嘉宾的博拉网络凭借专业的水准和前瞻性获得“2018（行业）影响力品牌奖”。此次获评也再次证明了博拉网络在践行中国经济发展新理念的领先地位。
</p>
<p style="text-align:left;">
	<br />
</p>
<p style="text-align:left;">
	<img src="picture/20180726103019_6029.jpg" alt="" /> 
</p>
<p style="text-align:left;">
	<br />
</p>
<p style="text-align:left;">
	财经峰会从2012年创始，已成为集国内众多财经及大众媒体之力打造的一项大型活动品牌，也是国内经济领域最具影响力的思想交流平台之一，至今已举办第七届。除了博拉网络，还有一汽大众奥迪、首汽租车、芒果TV、顺丰速运、辉瑞中国等各行业巨头参评获奖，彰显了峰会在业界影响力。
</p>
<p style="text-align:left;">
	<br />
</p>
<p style="text-align:left;">
	<img src="picture/20180725183659_1859.jpg" alt="" /> 
</p>
<div style="text-align:left;">
	&nbsp;
</div>
<p style="text-align:left;">
	今年峰会的主题为“开启新时代，中国经济新征程”，由环球网、大公网、中新网、国际在线、中国日报网、凤凰网、中华网等多家全国影响力媒体联合主办，并邀请到政界精英、工商界领袖、经济学界翘楚、创业家及新青年代表参加，探讨实业振兴、AI、新零售、企业服务、共享经济、智慧交通、医疗健康、金融科技、新农业、新能源等中国经济发展前沿领域。
</p>
<p style="text-align:left;">
	<br />
</p>
<p style="text-align:left;">
	本届峰会评选覆盖面更宽广，活动通过广泛的社会问卷调查，媒体、机构、协会联动推荐，公开信息搜集等方式，评选出公众综合评价和品牌影响力良好的企业，博拉网络获评“影响力品牌奖”也证明了其在数字商业服务领域的影响力和好口碑。
</p>
<p style="text-align:left;">
	<br />
</p>
<p style="text-align:left;">
	<img src="picture/20180725183756_0133.jpg" alt="" /> 
</p>
<p style="text-align:left;">
	<br />
</p>
<div style="text-align:left;">
	博拉网络自成立以来就秉承“简单专注、不断进化”的新时代理念，牢牢把握“互联网+”升级转型机遇，全面升级6E战略体系，凭借在数字营销、人工智能、大数据、云计算等方面的优势，以“互联网整合解决方案 + 互联网技术实现 + 互联网产品开发和运营”全程服务模式帮助企业构建互联网生意模式，实现数字化转型，创造更大商业价值，从而进一步促进实体经济前行提升消费动能。
</div></div>
            </div>
            <div class="w290 right">
                <ul>
                </ul>
            </div>
        </div>
		<div class="foot">
			<p>COPYRIGHT©2006-2017 BOLAA.COM</p>
		</div>
    </div>
</div>
</body>
<script>
$(function () {
    var data=news;
    $("body").append('<img src="picture/top.png" class="gotop" id="gotop">');
$(window).scroll(function () {
        if($(window).width()>1000){
            if($(window).scrollTop()>600){
                $("#gotop").addClass("showT");
            } else{
                $("#gotop").removeClass("showT");
            }
        }

    });
    $("#gotop").click(function(){
        $('body,html').animate({scrollTop:0},500);
        return false;
    });
    for(var i=0;i<10;i++){
        $(".new_detail .w290 ul").append('<a href='+data[i].url+'><li><p>'+data[i].title+'</p><p>'+data[i].time+'</p></li></a>')
    }
});
</script>
</html>